* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    position: relative;


}

#center {
    display: flex;
    justify-content: center;
    align-items: center;

}

header {
    display: flex;
    height: 14vh;
}





/* section 1 home */


.section1 {
    height: 100vh;
    border-bottom: #5356FF 2px solid;

}

.contenar1 {
    width: 75vh;
    height: 100vh;
    background-color: #5356FF;
    position: relative;


}

.heding-name {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    margin-top: 10px;


}





.round1 {
    width: 52vh;
    height: 52vh;
    background-color: #5356FF;
    position: absolute;
    left: 38vh;
    top: 23vh;
    border-radius: 100%;


}




.round2 {
    width: 48vh;
    height: 48vh;
    background-color: white;
    border-radius: 100%;

}

.round3 {
    width: 30vh;
    background-image: url(./img-g.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30vh;
    border-radius: 100%;
    border: solid 12px #5356FF;


}

.contenar2 {
    width: 144vh;
    height: 100vh;
    position: relative;
    margin-right: 10px;
}

.big-video {
    width: 1041px;
    position: absolute;
    left: 222px;
    z-index: -10;
    top: 0px;
}

nav {
    display: flex;
    margin-top: 38px;
    gap: 57px;

}



.list1 {
    display: flex;
    list-style-type: none;
    gap: 57px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 254px;
    font-size: 18px;




}

a {
    text-decoration: none;
    color: #000000;
}

.menu-botton {
    width: 300px;
    height: 25px;
    border-radius: 0%;
    border: none;
    background: #5356FF;
    position: absolute;
    top: 0px;
    font-family: system-ui;
    font-weight: 500;
    color: white;
    display: none;
    font-size: 27px;
}

.m-list {
    position: absolute;
    list-style: none;
    left: 3px;
    width: 99%;

}

.menu {
    position: absolute;
    top: 25px;
    background-color: #5356FF;
    width: 300px;
    height: 116px;
    font-family: "Anta", sans-serif;
    font-size: 12px;
    color: white;
    display: none;
}

.m-li {
    border-bottom: solid 2px black;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.menu-botton:active {
    color: black;
}

.m-li:hover {
    border-bottom: solid white 2px;
    background-color: #000000;
}

.li::after {
    display: flex;
    content: "";
    width: 0%;
    background-color: black;
    height: 2px;

}

.li:hover.li::after {
    display: flex;
    content: "";
    width: 100%;
    background-color: black;
    height: 2px;
    transition: .50s ease-out;
    transform-origin: top left;
}



.contact {
    width: 23vh;
    height: 7vh;
    background-color: #5356FF;
    margin-top: -14px;
    border-radius: 2px;
    font-family: "Anta", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    border: solid 2px #5356FF;


}

.contact:hover {
    border: solid 2px black;
    background-color: transparent;
    color: black;

}

.name {
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
    position: absolute;
    top: 221px;
    left: 46vw;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 35px;



}


.title-anim {

    background-image: linear-gradient(to right, #5356FF, transparent);
    padding: 10px;
    border-radius: 4px;
    width: 338px;
    height: 30px;


}

.title-text {
    position: absolute;

}



.hd1 {

    width: 19px;
    height: 19px;
    position: absolute;
    right: 355px;
    top: -1vw;
    transform: rotate(35deg);
    background-color: #5356FF;
}



.hd2 {
    width: 15px;
    height: 15px;
    border: solid 3px black;
    position: absolute;
    right: 361px;
    top: -1vw;
    transform: rotate(35deg);
}

.lif-icon {
    display: flex;
    gap: 14px;
    position: absolute;
    left: 40vw;
    top: 0vh;
    flex-direction: column;
    font-size: 23px;
    justify-content: right;
}

.a-lif:hover {
    color: #5356FF;
}



/* section-2 About Me  */


.section2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}


.A-main {
    display: flex;
    gap: 5vw;
}



.A-contenar1 {
    width: 34vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.A-contenar2 {
    width: 34vw;
    height: 75vh;
    position: relative;


}

.A-img {
    border: solid 3px #000000;
    width: 19vw;
    height: 55vh;
    background-image: url(./img-g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    animation: myimg 1s;

}

.A-background {
    width: 214px;
    height: 75vh;
    position: absolute;
    left: 30vw;
    background-color: #f5f5f5;
    border-bottom: #5356FF solid 5px;

}

.d1 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 31px;
    top: 90px;
    transform: rotate(35deg);
    background-color: #5356FF;
}

.d2 {
    width: 15px;
    height: 15px;
    border: solid 3px black;
    position: absolute;
    right: 37px;
    top: 7vw;
    transform: rotate(35deg);
}

.d3 {
    background-color: #5356FF;
    width: 8px;
    height: 49px;
    position: absolute;
    bottom: 67px;
    right: 84px;
}

.A-hedding {
    font-family: "Kalam", cursive;
    font-weight: bolder;
    font-size: 2.50rem;
    margin-top: 75px;

}

.Ah-2 {

    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 26px;
    color: #4b4b4b;
}

.Ah-3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    margin-top: 39px;
    color: #4b4b4b;
}

.contact-btn {
    width: 9vw;
    height: 6vh;
    font-family: cursive;
    font-size: 13px;
    background-color: #000000;
    color: white;
    border: none;
}

.what-form {
    border: solid 5px #5356FF;
    width: 29vw;
    border-radius: 100%;
    height: 51vh;
    position: fixed;
    z-index: 10;
    left: 61vw;
    top: 14vh;
    background-color: transparent;
    display: none;
}

.what-box {
    margin-left: 54px;
    margin-top: 13px;
}

.what-inp {
    width: 20vw;
    height: 5vh;
    padding: 5px;
    border-radius: 43px;
    outline: none;
    border: #000000 solid 2px;
    margin-top: 10px;
    text-align: center;
    font-family: cursive;

}

.what-inp:focus {
    border: #5356FF solid 2px;
}

.what-textarea {
    height: 18vh;
    border: solid 2px black;
    outline: none;
    margin-top: 10px;
    padding: 5px;
    border-radius: 19px;
    font-family: cursive;
}

.what-textarea:focus {
    border: #5356FF solid 2px;
}

.what-btn {
    padding: 3px;
    width: 8vw;
    font-family: cursive;
    font-size: 17px;
    background-color: #5356FF;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 80px;

}

.what-btn:active {
    background-color: #000000;
}

.what-colse {
    font-size: 63px;
    position: fixed;
    z-index: 10;
    left: 86vw;
    top: 59px;
    display: none;
    border: none;
    background-color: transparent;
    color: #5356FF;
}




.contact-btn:focus {
    background-color: #5356FF;

}

.box-in {
    border: solid 3px black;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    height: 30px;
}

.box-in:hover {
    border: #5356FF 3px solid;
    color: #5356FF;
}

.d4 {
    width: 3vw;
    height: 21px;
    position: absolute;
    left: 191px;
    top: 57px;
    background-color: #5356FF;
}

.d5 {
    width: 3vw;
    height: 3vh;
    border: #000000 solid 2px;
    position: absolute;
    left: 182px;
    top: 51px;
}

/*  section-3 Services  */

.section3 {
    height: 100vh;
    position: relative;
}

.s-hedding {
    font-family: "Kalam", cursive;
    font-weight: bolder;
    font-size: 2.50rem;
    margin-top: 75px;
    text-align: center;
}

.d6 {
    width: 3vw;
    height: 3vh;
    position: absolute;
    left: 726px;
    top: 28px;
    background-color: #5356FF;
}

.d7 {
    width: 3vw;
    height: 3vh;
    border: #000000 solid 2px;
    position: absolute;
    left: 56vw;
    top: 21px;

}

.s-continer {
    height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 86px;

}

.s-box {
    width: 19vw;
    height: 57vh;
    border: black solid 5px;
    position: relative;
    animation: sbox 2.50s infinite alternate;
}

@keyframes sbox {

    from {}

    to {
        box-shadow: 19px 20px #5356FF;
    }

}


.s-content {
    margin-top: 88px;
    margin-left: 26px;
    font-size: 36px;
    width: 10vw;
}

.s-icon {
    width: 37px;
    height: 38px;
    border-radius: 5px;
    box-shadow: 7px -5px 3px #5356FF;

}

.sh2 {
    font-family: 'Anta';
    font-size: 23px;
}

.s-p {
    margin-left: 27px;
    font-family: cursive;
    font-size: 12px;
    margin-top: 26px;
}

/*  section-4 Projects */

.section4 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

}

.p-heding {
    height: 10vh;
    text-align: center;
    font-family: "Kalam", cursive;
    font-size: 38px;
    font-weight: 900;
    position: relative;
}

.p-main {
    height: 70vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bigp-box {
    width: 23vw;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bigp-box:hover {
    background-color: rgb(210, 210, 210);
    color: white;
    transition: .50s;

}

.p-box {

    width: 21vw;
    height: 64vh;
    position: relative;
    background-color: transparent;

}

.p-img {
    width: 269px;
    height: 202px;

}


.pbox-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 175px;
    right: 23px;
    background: black;
    color: white;
    font-size: 20px;


}

.pbox-btn:hover {
    background-color: #5356FF;
    color: #000000;
    font-size: 20px;
}

.ph1 {
    font-family: 'Josefin Sans';
    color: #5d5d5d;
    font-size: 14px;
    margin-left: -1px;
    margin-top: 3px;
}

.ph2 {
    font-family: math;
    font-size: 22px;
    margin-left: -4px;
    font-style: italic;
    margin-top: 10px;
}

.ph3 {
    font-family: cursive;
    font-size: 13px;
    margin-left: -2px;
    margin-top: 10px;
    color: #5d5d5d;

}

.ph4 {
    font-family: cursive;
    font-size: 14px;
    margin-top: 15px;
    color: #5d5d5d;
    margin-left: -4px;

}

.ph4-hover:hover {
    color: #5356FF;
}


/* section 5 contact  */

.section5 {
    height: 100vh;
}

.c-main {
    display: flex;
    justify-content: center;
    width: 99.50%;
    height: 90vh;
    position: relative;
}

.c-cantiner1 {
    height: 90vh;
    width: 50vw;

}

.c-cantiner2 {
    height: 90vh;
    width: 50vw;

}



.c-hedding {
    height: 40px;
}

.c-box1 {
    width: 24vw;
    height: 51vh;
    background-color: #f5f5f5;
    position: absolute;
    left: 314px;
    top: 14vh;
    z-index: 1;
}

.contact-me {
    height: 10vh;
    text-align: center;
    font-family: "Kalam", cursive;
    font-size: 44px;
    font-weight: 900;
    width: 26vw;
    position: absolute;
    left: 17vw;
    top: 26vh;
    z-index: 3;


}

.c-line {
    width: 24vw;
    height: 6px;
    background-color: #5356FF;
    position: absolute;
    left: 314px;
    z-index: 3;
    top: 65vh;

}

.cd1 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 31px;
    top: 51px;
    transform: rotate(35deg);
    background-color: #5356FF;
}

.cd2 {
    width: 15px;
    height: 15px;
    border: solid 3px black;
    position: absolute;
    right: 37px;
    top: 4vw;
    transform: rotate(35deg);
}

.arrow-down img {

    width: 56px;
    position: absolute;
    bottom: 83px;
    left: 34vw;
}

.c-not1 {
    font-family: cursive;
    font-size: 13px;
    position: absolute;
    top: 27vh;
    left: 15px;
}

.c-not2 {
    font-family: cursive;
    font-size: 13px;
    position: absolute;
    top: 38vh;
    left: 15px;
}

.c-icon {
    display: flex;
    gap: 10px;
    width: 13vw;
    height: 8vh;
    position: absolute;
    bottom: 13px;
    left: 33vw;
}

.c-icon div:hover {
    background-color: #5356FF;
}

.fsbk {
    width: 36px;
    height: 35px;
    background-color: #7a7777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;

}


.ista {
    width: 36px;
    height: 35px;
    background-color: #7a7777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
}


.in {
    width: 36px;
    height: 35px;
    background-color: #7a7777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;

}

.c-not3 {
    font-family: cursive;
    font-size: 13px;
    color: #757575;
    position: absolute;
    bottom: 52px;
    left: 280px;
}


.c-not4 {
    font-family: cursive;
    font-size: 13px;
    position: absolute;
    bottom: 13px;
    left: 279px;
}

.menu-bar {
    width: 5vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 50;
    left: 4px;
    top: 70vh;


}

.menu-box {
    height: 15px;
    width: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -68px;
    padding: 9px;
    font-family: math;
    color: #e4e4e4;
    background-color: transparent;
    border-bottom: transparent solid 2px;
}

#menu-box {
    width: 8vw;
}

.menu-bar:hover {
    left: 62px;
    transition: .50s;
}

.m-link:hover {
    border-bottom: #000000 solid 2px;
}

.form {
    width: 44vw;
    height: 89vh;
    background-color: black;
    position: absolute;
    right: 10vw;


}

.form-box {
    position: absolute;
    left: 85px;
    top: 79px;
}

.form-hedding {
    color: white;
    font-family: cursive;
    font-size: 23px;
}



.nema-email {

    outline: none;
    width: 16vw;
    height: 6vh;
    background-color: black;
    border: #989898 solid 2px;
    text-align: center;
    font-family: cursive;
    color: white;
    margin-right: 10px;
}

.sabject {
    outline: none;
    width: 429px;
    height: 6vh;
    background-color: black;
    border: #989898 solid 2px;
    text-align: center;
    font-family: cursive;
    color: white;
}

.message {
    background-color: black;
    border: #989898 solid 2px;
    outline: none;
    padding: 10px;
    width: 32vw;
    color: white;
}

input:focus {
    border: white solid 2px;

}

textarea:focus {
    border: white solid 2px;
}

.form-btn {
    padding: 10px;
    width: 12vw;
    font-size: 13px;
    font-family: cursive;
    color: white;
    background-color: #5356FF;
    border: none;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.form-btn:active {
    background-color: #000000;
}


/* footer */

footer {
    height: 20vh;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.f-list {
    display: flex;
    gap: 20px;

}

.f-list div {
    font-family: cursive;
    font-size: 16px;
    border-bottom: transparent 2px solid;

}

.f-list div:hover {
    border-bottom: #5356FF 2px solid;
}


.scrolldown {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 3px;
    position: absolute;
    top: 40vh;
    left: 17vw;
    border: solid 2px #5356FF;
    border-radius: 5px;
}

.scrollup {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 3px;
    border: solid 2px #5356FF;
    border-radius: 5px;
}

/* Mobile */
@media screen and (min-width:320px) and (max-width:767px) {

    .big-video {
        display: none;
    }

    header {
        display: block;
    }

    .contenar1 {
        width: 100vw;
        height: 9vh;
        background-color: #5356FF;
        position: relative;
        margin-top: -9px;

    }

    .heding-name {
        font-size: 33px;
        letter-spacing: 7px;
        position: absolute;
        left: 4vw;

    }

    nav {
        display: none;
    }

    .round1 {
        width: 39vh;
        height: 64vh;
        background-color: #5356FF;
        position: absolute;
        left: 6vh;
        top: 18vh;
        border-radius: 0;
    }

    .round2 {
        width: 36vh;
        height: 61vh;
        border-radius: 0;
        background-image:url(./bluebg.avif) ;
        background-size: cover;


    }

    .round3{
        border: none;
    }

    .name-hg {
        position: absolute;
        top: -21vh;
        width: 67vw;
        left: -32vw;
    }

    .hd1 {
        right: 28px;
        top: -21vh;
    }

    .hd2 {
        right: 8vw;
        top: -22vh;
    }
    
    .title-anim{
        background-color: #5356FF;
        width: 100vw;
        position: absolute;
        top: 55vh;
        color: white;
        font-weight: 400;
        right: -5px;
        height: 6vh;
        
        
    }

    .title-text{
    
        left: 44px;
        top: 2vh;


    }









































}




/* Tablet  */

@media screen and (min-width:768px) and (max-width:992px) {}


/* Leptop  */

@media screen and (min-width:993px) and (max-width:1024px) {}

/* Lareg Screen  */

@media screen and (min-width:1025px) and (max-width:1440px) {}

/* Extra Lareg Screen  */

@media screen and (min-width:1441px) and (max-width:2560px) {}